canvas {
    border: 1px solid white;
    background-image: url(imagenes/carretera.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body{
    background-image: url(imagenes/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.contenedor > h1 {
    font-size: 20px;
}

.divcontenedor{
    justify-content:space-evenly ;
    display: flex;
    
}

.contenedor {
    width: 20rem;
    height: 200px;
    background-color: #312e31;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    overflow:auto ;
    justify-content: space-around;
    color: white;
}


.contenedor > li {
    list-style: circle;
    text-align: center;
    
}
